.App {
  max-width: 100%;
  margin: auto;
  padding: 3vw;
  border: dashed 1px black;
}
.App * {
  padding: 2vw;
  margin: 2vw;
  background: lightgoldenrodyellow;
  border: dashed 1px black;
}
.App * + * {
  margin-top: 5vw;
}
.App-header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  height: 50px;
  background: lightgoldenrodyellow;
  border-color: black;
}
.App-content {
  min-height: 100vw;
}
